.recipe-menu {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90vw;
    margin-bottom: 5rem;
    margin: 0 auto;
}

.item {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    width: 15vw;
    min-height: 30vh;
    max-height: 30vh;
    align-items: center;
    overflow: hidden;
}

.item p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card {
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.card a {
    text-decoration: none;
    color: black;
}

.search-container input {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
    max-width: 30vw;
    margin: 0 auto;
    margin-bottom: 2rem;
}
