@media screen and (max-width: 1200px) {
    .item {
        width: 20vw;
    }

    .item p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .recipe-menu {
        max-width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .item {
        width: 25vw;
    }

    .item p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
        line-clamp: 3;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: normal;
    }

    .ingredient input {
        font-size: 0.8rem;
        width: 3rem;
    }

    .ingredient select {
        width: 4rem;
        height: 2rem;
    }

    .ingredient button {
        width: 5rem;
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 568px) {
    .topnav, .topnav img {
        height: 4rem;
    }

    .topnav a {
        font-size: 1.5rem;
    }
    
    #recipeForm, #instructions, #description {
        max-width: 75vw;
        min-width: 75vw;
    }

    .heading {
        font-size: 1.5rem;
    }

    .heading-main {
        font-size: 1.2rem;
    }

    #recipeTitle, #instructions, #description {
        font-size: 1rem;
    }

    .ingredient input {
        font-size: 0.5rem;
        width: 3rem;
    }

    .ingredient select {
        width: 3rem;
        height: 2rem;
    }

    .ingredient button {
        width: 3rem;
        font-size: 0.5rem;
    }

    .recipe-menu {
        max-width: 100vw;
    }

    .item {
        width: 30vw;
        max-height: 30vh;
        padding: 1rem;
    }

    .item p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
        line-clamp: 3;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: normal;
    }

    .details {
        max-width: 70vw;
    }

    .search-container input {
        max-width: 40vw;
    }
}
